*{
    height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.Top-image{
    background-image: url(Image/cprclasstraining.webp);
    background-size: 100% 40rem;
    background-repeat: no-repeat;
    height: 20rem;
    width: 80%;
    margin-left: 9rem;
}