body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.a {
    /* text-align: right; */
    justify-content: right;
    /* float: right; */
}
.img {
    display: block;
    margin-left: auto;
    margin-right: none;
    width: 7%;
    display: flex;
    /* float: right; */
  }
  .hotline {
    text-align: right;
  }
  .donate {
    float: right;
    color: white;
    background-color: #a52016;
    height: 25px;
    width: 120px;
    border-radius: 7px;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 10px 10px px;
}

.donate:hover{
  background-color: #e30d0d;
  font-size: 110%;
  transition: 0.3s;
 } 

.second {
    float: right;
}

nav{
  background-color: #f0f7ff;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  /* position: sticky; */
  /* margin-top: 1rem; */
}

.image{
  height: 70px;
  cursor: pointer;
  margin-left: 5rem;
  float: left;
}

nav ul{  
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 60px;
  margin-right: 150px;
}

nav ul li{
  display: inline-block;
  margin: 10px 0px;
}

nav ul li a{
  color: #1b1a1a;
  text-decoration: none;
  font-family: Poppins;
  display: block;
  padding: 14px 20px;

}
 
nav ul li:hover{
  background-color:  #ccecff;
  font-size: 100%;
  transition: 0.5s;
}

/* nav ul li a:hover{
  background: #ffffff; */
  /* display: block !important; */
/* } */

nav ul li a:hover{
  color: #fa5d5d;
}

.header{
  font-size: 20px;
  color: #000000;
}

.lefttable{
  width: 30%;
  align-items: left;
}

.righttable{
  width: 30%;
  margin-left: auto;
  margin-right: none;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
  aspect-ratio: 4/3 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  z-index: 1;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.hotlineN{
  color: #640801;
  font-size: 20px;
  float: inline-end;
}

.navigation{
  float: right;
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-right: 190px;
}

.navigation1{
  float: right;
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-right: 5rem;
  border-radius: 15px;
}

#body
{
    width: 100%;
    height: auto;  
}

#card
{
    margin: 30px;
    padding: 15px;
}
#card .box1
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
    padding: 15px;
}

#card .box1 .card1
{
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 250px;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
}

#card .box1 .card2
{
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 250px;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
}
#card .box1 .card3
{
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 250px;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
}
#card .box1 .card4
{
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 250px;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
}
#card .box1 .card5
{
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 250px;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
}
#card .box1 .card6
{
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 250px;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
}

.news{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  aspect-ratio: 4/3 auto;
}

.formheader{
  display: block;
  border-width: 5px;
  color: #ffffff;
  border: none;
  background-color: #f6756b;
  border-radius: 15px;
  text-align: center;
  height: 35px;
  box-shadow: 0 3px 3px 0 rgb(45, 40, 40);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.formsubmit{
  background-color:#f6756b ;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 30px;
  width: 16%;
  margin-left: 40%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.formsubmit:hover{
  background-color: #d4291d;
  font-size: 100%;
  transition: 0.3s;
}

footer{
  background-color: #2f2c2c;
}

.socialmedia{
  height: 40px;
  width: auto;
  display: flex;
  float: right;
}

.map{
  margin-left: 30px;
  margin-bottom: 30px;
  height: 250px;
  width: 300px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.membernav{
  background-color: #ccd9e3;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  z-index: 10;
  padding-top: 60px;
  font-family: Poppins;
  box-shadow: 3px 5px 10px 0 rgba(0,0,0,.2);
  border-radius: 10px;
  float: left;  

}

.Mnav1{
  margin-left: auto;
  margin-right: auto;
}

.sidebtn{
  background-color: #ccd9e3;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: Poppins;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(59, 56, 56);
}

.sidebtn:hover{
  background-color: rgb(152, 208, 215);
  font-size: 90%;
  transition: 0.3s;
}

.form{
  background-color: #ccd9e3;
  width: 65%;
  border-radius: 10px;
  font-family: Poppins;
  display: flex;
  float: right;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
  justify-content: center;
  /* display: none; */
}

.temp{
  float: left;
}

.perm{
  float: right;
  margin-left: 100px;
}

.donateheader{
  background-color: white;
  height: 100px;
}

.donationform{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 100%;
  width: 60%;
  background-color: #d8dfe4;
  border-radius: 10px;
  opacity: 100%;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,.2);
}

.labelhead{
  font-family: poppins;
  font-size: 20px;
  margin-left: 55px;
}

.label{
  font-family: Poppins;
  font-size: 15px;
  margin-left: 55px;
}

.moneyinput{
  margin-top: 10px;
  margin-left: 55px;
  border-radius: 3px;
  height: 30px;
  width: 40%;
}

.CountryO{
  margin-top: 10px;
  margin-left: 55px;
  border-radius: 3px;
  height: 35px;
  width: 87%;
}


.homeicon{
  height: 60px;
  justify-content: center;
}

.info{
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
}

.contacthead{
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 40px;
  color: #ffffff;
  position: relative;
}

.contactcontainer{
  background-color: #2f2c2c;
  height: 150px;
  width: 100%;
  opacity: 50%;
}

.contactinfo{
  height: 350px;
  width: 25%;
  padding-right : 20px;
  background-color: #ccd9e3;
  margin-left: 80px;
  margin-top: 4rem;
  padding-top: 1rem;
}

.contacttitle{
  height: 100%;
  width: 30%;
  background-color: #ccd9e3;
  font-family: Poppins;
  font-size: 18px;
  margin-left: 30px;
}

.contactbody{
  font-family: Poppins;
  font-size: 16px;
  margin-left: 30px;
}

.Cnav{
  background-color: white;
  margin-top: 0px;
  margin-left: 0px;
}

.Cform{
  float: right;
}

@media screen{
  .nav.responsive{position: relative;}
  .nav.responsive.icon{
    position: absolute;
    right: 0;
    top: 0;
  }
}

.search{
  height: 30px;
  padding: 0;

}

.searchbtn{
  margin-top: 5px;
  margin-right: 5rem;
  margin-left: -13rem;
  border: none;
  background-color: #f0f7ff;
  border-radius: 17px;
}

.searchbtn:hover{
  background-color:  #ccecff;
  font-size: 100%;
  transition: 0.5s;
}

.container{
  display: inline-block;
  margin-top: 8rem;
  margin-left: 7rem;
}

.doanteblood{
  padding-top: 20rem;
  margin-left: 5rem;
  height: 20rem;
  width: 20rem;
  padding-top: 0.5rem;
  box-shadow: 0 10px 10px 0 rgb(37, 35, 35);
}

.herodoanteblood{
  height: 10rem;
  padding-top: 1.5rem;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #f0f7ff;
  border-radius: 5px;
}

.givebloodhead{
  font-family: Poppins;
  font-size: 20px;
}

.givebloodbody{
  font-family: Poppins;
  font-size: 15px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.doantebloodbtn{
  background-color:#d12114 ;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 20px;
  width: 40%;
  margin-left: 4rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: 3.2rem;
}

.doantebloodbtn:hover{
  font-size: 90%;
  transition: 0.3s;
}

.donationbloodlogo{
  height: 70px;
  border-radius: 50%;
  border: 2px solid red;
  opacity: 50%;
}

.givebloodheader{
  font-family: Poppins;
  font-size: 40px;
  color: white;
  margin-left: 10rem;
}

.gbloodheader{
  font-family: Poppins;
  font-size: 20px;
  color: white;
  margin-left: 10rem;
}

.headermargin{
  margin-top: 2rem;
}

.bodymargin{
  margin-top: 2rem;
}

.donationbloodlogo1{
  height: 70px;
  width: 75px;
  border-radius: 50%;
  border: 2px solid red;
  opacity: 50%;
}

.doantebloodbtn1{
  background-color:#d12114 ;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 20px;
  width: 40%;
  margin-left: 4rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: 0.4rem;
}

.requirementhead{
  font-family: Poppins;
  font-size: 40px;
  margin-left: 28rem;
  margin-top: 2rem;
}

.requirementbody{
  font-family: Poppins;
  font-size: 20px;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: center;
}

.imageheader{
  margin-left: 9rem;
  font-family: Poppins;
  font-size: 20px;
  margin-top: 2rem;
  display: flex;
}

.donor{
  height: 20rem;
  margin-left: 9rem;
  margin-top: -13rem;
}

.desc{
  float: right;
  margin-left: 30rem;
  margin-right: 9rem;
  margin-top: 10rem;
}


.container1{
  display: inline-block;
  margin-top: 8rem;
  margin-left: 0.1rem;
}

footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 80px;
  margin: 10px 0;
}
footer .col1
{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

footer .col2
{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-bottom{
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}